.cart-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  position: absolute;
  width: 340px;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  padding: 30px 25px;
  max-height: 100%;
  overflow: auto;
}
.cart-item-attribures {
  width: 165px;
}
.cart-item-attribures-primary {
  font-size: 1.4rem;
  margin: 0px;
  margin-bottom: 15px;
}
.cart-item-attribures-secondary {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 10px;
}
.cart-item-container {
  margin: 25px 0px;
  justify-content: center;
  gap: 10px;
  display: flex;
  text-align: left;
}
.cart-main-header {
  text-align: left;
}
.cart-item-img {
  max-width: 120px;
  object-fit: contain;
}
.cart-item-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cart-item-controls p {
  font-size: 1.5rem;
}
.cart-item-controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid var(--text-primary);
  cursor: pointer;
}
.cart-item-controls div:hover {
  background-color: var(--text-secondary);
}
.cart-total-container {
  margin: 20px 0px;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.cart-total-button {
  font-size: 1.3rem;
  padding: 15px 30px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}
