.header-container {
  position: relative;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-container ul {
  font-size: 1rem;
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1;
}

.header-container ul li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 25px;
  position: relative;
  overflow: hidden;
}

.header-container ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.header-container ul li:hover::after {
  transform: translateX(0);
}
.header-item:first-of-type {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-item:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.active-route {
  box-shadow: inset 0px -2px 0px var(--primary-color);
}
